{% extends "base_generic.html" %}

{% load static %}

{% block header %}{% endblock %}

{% block style %}

<style type="text/css">
    .email-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .email-header {
        background-color: #164069;
        color: white;
        border-radius: 13px;
        /*width: 95%;*/
        right: 0px;
        margin-bottom: 20px;
    }

    h5 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .img_container {
        margin: auto;
        text-align: center;
        display: block;
    }

    .email-heading-color {
        color: #164069;
    }

    .feedback_sum {
        background-color: #fae66f;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .responses {
        background-color: #fae66f;
        border-radius: 10px;
        padding: 10px;

    }

    li {
        padding: 10px;
        font-style: italic;
    }

    rowList {
        padding: 10px;
        font-style: italic;
    }
</style>

{% endblock %}

{% block content %}
    <div class="m-30 email-body">
        <div class="p-30 container">
            <div class="row email-header align-items-center">
                <div class="col-sm-3">
                    <img class="mh-80" alt="" src="{{ image_path }}"/>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="px-10 f-24 font-weight-bold">
                            Bibb County School District
                        </div>
                    </div>
                    <div class="row">
                        <h5>Thoughtexchange Report</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-14 mb-10">
            Hello,
        </div>
        <div class="f-14 mb-10">
            We hope this email finds you well. The following is a summary of the Thoughtexchange forum on "{{ results_data.prompt }}" including feedback responses from our district.
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 feedback_sum">
                    <div class="f-20 email-heading-color">
                    Feedback Summary:
                    </div>
                    <div class="f-14">
                        {{ results_data.summary }}
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 responses">
                    <div class="f-20 email-heading-color">
                        District Response:
                    </div>
                    <div class="f-14">
                        {{ results_data.action }}
                    </div>
                </div>
            </div>
        </div>
        <div class="f-16 mb-10 email-heading-color">
            Additionally, here are a few notable Thoughtexchange responses from our
            community:
        </div>
        <div class="thoughts f-14 mb-10">
            <ul>
                {% for thought in results_data.thoughts %}
                <li>
                    {{ thought }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="f-14 mb-10">
            Thank you all for your participation, and please let us know if you have
            any additional questions or concerns.
        </div>
        <div class="f-14 mb-10">Sincerely,</div>
        <div class="f-14 mb-10">The Bibb County School District</div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}